.socials {
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    margin-top: 13px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__link {
    display: block;

    svg {
      display: block;
      width: 37px;
      height: 37px;
    }
  }
}